target/
.git/
.idea/
*.iml
*.log
.env
.env.*
!/.env.example
src/main/resources/application-local.yml
src/main/resources/application-secret.yml
src/main/resources/application-*.local.yml
.ollama_data/
workspace/
